@use "sass:color";
@use "particles";

$button-icon-width: 40px;
$button-icon_height: $button-icon-width;
$header-main-padding-x: 0.25rem;
$header-main-padding-y: 0.75rem;
$header-main-height: calc(#{$button-icon_height} + #{$header-main-padding-y} * 2);
$footer-main-padding-x: 0.75rem;
$footer-main-padding-y: $footer-main-padding-x;
$footer-main-height: calc(#{$button-icon_height} + #{$footer-main-padding-y} * 2);
$navigation-width: 250px;
$sidebar-width: $navigation-width;
$navigation-wrapper-width: $sidebar-width * 2;
$transition-duration: 0.3s;

@mixin small {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: 1200px) {
    @content;
  }
}

body {
  .header.header-main:first-child {
    position: sticky;
    top: 0;
    height: $header-main-height;
    padding: $header-main-padding-y $header-main-padding-x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    background: particles.$color-background;
    box-shadow: 0 3px 6px 0 color.change(particles.$color-darkgray, $alpha: 0.16);
    z-index: 1000;

    > .form.form-search {
      position: absolute;
      right: $header-main-padding-x;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row-reverse;

      .icon {
        position: absolute;
        top: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        transform: translateY(-50%);
        margin: 0;

        &o-cross {
          transform: translateY(-50%) rotate(45deg);
          right: calc(#{$header-main-padding-x} + (#{$button-icon-width} - 30px) / 2);
        }

        &o-search {
          right: calc(#{$header-main-padding-x} + (#{$button-icon-width} - 6px) / 2);
          transform: scale(0.75) rotate(45deg) translateY(-100%);
        }
      }

      .textfield-search-wrapper {
        background: particles.$color-white;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, particles.$color-white $header-main-padding-x * 2);
        padding-left: $header-main-padding-x * 3;
        display: flex;
        align-items: center;
      }
    }

    .button {
      position: absolute;
      border: 0;
      flex-shrink: 0;
      flex-grow: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $button-icon-width;
      height: $button-icon-width;
      opacity: 0;
      cursor: pointer;
      z-index: 2;

      &-sidebar {
        left: $header-main-padding-x;

        &-hide {
          position: static;
          left: auto;
          transform: none;

          &:checked {
            ~ .icon-sidebar-hide, ~ .icon-navigation-primary-show {
              display: none;
            }

            ~ .sidebar {
              transform: translateX(0);
            }
          }
        }
      }

      &-sidebar-show {
        &:checked {
          z-index: 1;

          ~ .icon-sidebar-show {
            display: none;
          }

          ~ .icon-navigation-primary-show ~ .icon-sidebar-hide {
            display: none;
          }

          ~ .sidebar {
            transform: translateX(100%);
          }
        }
      }

      &-navigation-primary-show {
        &:checked {
          z-index: 1;

          ~ .button-sidebar-show {
            z-index: 1;
          }

          ~ .icon-sidebar-show, ~ .icon-navigation-primary-show {
            display: none;
          }

          ~ .sidebar {
            transform: translateX(100%);

            .navigation-wrapper {
              transform: translateX(50%);
            }
          }
        }
      }

      &-form-search {
        right: 0;

        &-hide {
          position: static;
          right: auto;
          transform: none;

          &:checked {
            ~ .icon-form-search-hide {
              display: none;
            }

            ~ .textfield-search-wrapper {
              display: none;
            }
          }
        }

        &-show:checked {
          z-index: 1;

          ~ .icon-form-search-show {
            display: none;
          }
        }
      }
    }

    @include large {
      .button {
        &-sidebar {
          &-hide {
            &:checked {
              ~ .icon-sidebar-show, ~ .icon-sidebar-hide, ~ .button-sidebar-show {
                display: none;
              }

              ~ .button-navigation-primary-show ~ .button-sidebar-show {
                display: block;
              }

              ~ .button-navigation-primary-show ~ .icon-sidebar-show {
                display: block;
              }

              ~ .sidebar {
                transform: translateX(100%);
              }
            }
          }
        }

        &-sidebar-show {
          &:checked {
            z-index: 1;

            ~ .icon-sidebar-show {
              display: none;
            }

            ~ .icon-sidebar-hide {
              display: block !important;
            }

            ~ .sidebar {
              transform: translateX(100%);

              .navigation-wrapper {
                transform: translateX(50%);
              }
            }
          }
        }

        &-navigation-primary-show {
          display: none;

          ~ .icon-navigation-primary-show {
            display: none;
          }
        }
      }
    }

    > .icon {
      position: absolute;
      top: 50%;
      flex-shrink: 0;
      flex-grow: 0;
      transform: translateY(-50%);
      margin: 0;

      &-sidebar {
        left: $header-main-padding-x;
      }

      &-form-search {
        right: $header-main-padding-x;
      }

      &o-cross {
        transform: translateY(-50%) rotate(45deg);
        left: calc(#{$header-main-padding-x} + (#{$button-icon-width} - 30px) / 2);
      }

      &o-caretLeft {
        transform: translateY(-50%) rotate(180deg);
        left: calc(#{$header-main-padding-x} + (#{$button-icon-width} - 12px) / 2);
      }

      &o-hamburger {
        left: calc(#{$header-main-padding-x} + (#{$button-icon-width} - 20px) / 2);
      }
    }

    .brand {
      margin-left: $header-main-padding-x / 2;
      margin-right: auto;
      text-decoration: none;
      color: particles.$color-black;

      &:hover, &:active, &:focus {
        color: particles.$color-black;
      }

      h1 {
        font-weight: particles.$font-weight-bold;
        font-size: particles.$font-size-large;
        margin-bottom: 0;

        @include small {
          font-size: particles.$font-size-x-large;
        }

        @include medium {
          font-size: particles.$font-size-xx-large;
        }
      }
    }

    .sidebar {
      position: fixed;
      top: $header-main-height;
      bottom: $footer-main-height;
      background: particles.$color-background;
      left: - $sidebar-width;
      width: $sidebar-width;
      transform: translateX(0);
      transition: transform $transition-duration ease-out;
      overflow-x: hidden;
      overflow-y: scroll;

      @include large {
        transform: translateX(100%);
      }

      .navigation-wrapper {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: $navigation-wrapper-width;
        right: 0;
        height: 100%;
        transition: transform $transition-duration ease-out;
        transform: translateX(0);

        .navigation {
          width: $navigation-width;
          overflow-x: hidden;

          ul {
            list-style: none;
            padding-inline-start: 0;
            padding-inline-end: 0;
            margin-block-start: 0;
            margin-block-end: 0;

            li {
              &.active {
                a {
                  color: particles.$color-background;
                  background: particles.$color-active;
                }
              }

              a {
                text-decoration: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                white-space: normal;
                word-break: break-word;
                color: particles.$color-inactive;
                padding: $footer-main-padding-y $footer-main-padding-x;
                transition-property: background-color, color;
                transition-duration: $transition-duration;
                transition-timing-function: ease-out;
                min-height: calc(#{$button-icon_height} + #{$header-main-padding-y} * 2);

                &:hover {
                  color: particles.$color-text;
                  background: particles.$color-hover;
                }

                &:active {
                  color: particles.$color-background;
                  background: particles.$color-active;
                }

                img {
                  object-fit: cover;
                  border-radius: 50%;
                  width: $button-icon-width;
                  height: $button-icon-width;
                  border: 1px solid black;
                  overflow: hidden;
                  margin-right: 1rem;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
    }

  }

  > .main-wrapper {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: calc(1rem + #{$footer-main-height});
    min-height: 100vh;

    @include large {
      margin-left: $navigation-width;
    }
  }

  footer.footer.footer-main {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: $footer-main-padding-y $footer-main-padding-x;
    z-index: 999;
    height: $footer-main-height;
    background: particles.$color-background;
    box-shadow: 0 -3px 6px 0 color.change(particles.$color-darkgray, $alpha: 0.16);
    overflow: hidden;

    .account {
      display: flex;

      .account-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: particles.$font-size-large;
        color: particles.$color-text;

        &:hover, &:active, &:focus {
          color: particles.$color-text;
        }

        .account-image {
          object-fit: cover;
          border-radius: 50%;
          width: $button-icon-width;
          height: $button-icon-width;
          margin-right: $footer-main-padding-x;
          border: 1px solid black;
        }

        .account-name {
          display: flex;
          flex-direction: column;
          line-height: 1.1rem;

          small {
            font-size: particles.$font-size-x-small;
            color: particles.$color-inactive;

            &:last-child {
              font-weight: particles.$font-weight-light;
            }
          }
        }
      }

      .account-logout-wrapper {
        background: particles.$color-white;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, particles.$color-white $footer-main-padding-x * 2);
        padding-left: $footer-main-padding-x * 3;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;

        @include medium {
          position: static;
          right: auto;
          height: auto;
          top: auto;
        }

        .account-logout {
          font-size: particles.$font-size-small;
          padding: $footer-main-padding-x;
        }
      }
    }
  }
}

.z-index-1000 {
  z-index: 1000;
}

img.img-square {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.shadow-right-sm {
  box-shadow: .125rem 0 .25rem rgba(0, 0, 0, .075) !important;
}