.card {
    border-radius: 0;
    box-shadow: 5px 5px 10px rgba(84, 84, 84, 0.93);
    background: rgba(128, 128, 128, 0.56);
    transition: all 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;


}