<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{mopslayout :: html(name='name', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
<meta charset="utf-8">
<title>main</title>
<th:block th:fragment="headcontent">

	
</th:block>
	<script>
		function anderesFach(){
			var anderesf = document.getElementById("anderesF");
			var anderesFachRadio = document.getElementById("anderesfachradio");
            var inputfeld = document.getElementById("anderesfach");
            console.log(anderesf);
            console.log(anderesFachRadio.checked);
            console.log(inputfeld);
			if(!anderesFachRadio.checked){
			    if(inputfeld){
			        inputfeld.parentNode.removeChild(inputfeld);
				}
			}
			if(anderesFachRadio.checked){
                if(!inputfeld) {
                    var textfeld = document.createElement("input");
                    textfeld.id = "anderesfach";
                    anderesf.appendChild(textfeld);
                }
			}
		}
	</script>
</head>
<body>
	<header>
		<nav class="navigation navigation-secondary" is="mops-navigation"
			th:fragment="navigation">
			<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
		</nav>
	</header>
	<main th:fragment="bodycontent">
		
		<form>
			<h1>Bewerbungsformular</h1>
			<fieldset>
			<ul>
			<div class="persoenliche Daten">
			<h3>Persönliche Daten:</h3>
			<label>
			Vorname:
				<input type="text" th:field="*{Vorname}" maxlength="30"/>
			</label>
			<br></br>
			<label>
			Nachname:
				<input type="text" th:field="*{Nachname}" maxlength="30"/>
			</label>
			<br></br>
			<label>
			Straße:
				<input type="text" th:field="*{Straße}"/>
			</label>
			<br></br>
			<label>
			Postleitzahl:
				<input type="text" th:field="*{Postleitzahl}"/>
			</label>
			<br></br>
			<label>
			Geburtsort:
				<input type="text" th:field="*{Geburtsort}"/>
			</label>
			<br></br>
			<label>
			Staatsangehörigkeit:
				<input type="text" th:field="*{Staatsangehörigkeit}"/>
			</label>
			</ul>
			</fieldset>
			<label>
			<br></br>
			</label>
			<label>
			<fieldset>
			<ul>
			<h3>Wählen Sie eins oder mehr Fächer aus.</h3>
			<select th:field="*{Fach}">
			<option th:value="'Algorithmen und Datenstrukturen'">Algorithmen und Datenstrukturen</option>
			<option th:value="'Datenbanksysteme'" >Datenbanksysteme</option>
			<option th:value="'Programmierung'" >Programmierung</option>
			<option th:value="'Softwareentwicklung'" >Softwareentwicklung</option>
			</select>
			</ul>
			</fieldset>
			</label>
			</div>

			
			<br></br>
			<div class="Uni Fragen">
				
				<fieldset>
					<ul>
					<h3>Sind Sie derzeit an der HHU immatrikuliert?:</h3>
							<label>
								<input type="radio" 
						        th:field="*{Immatrikulationsstatus}"
						        th:value="${Informatik}" 
						        name="Immatrikulationsstatus"/>
						        Ja, als Informatiker.
							</label>
							<br></br>			
							<label>
								<input type="radio" 
						        th:field="*{Immatrikulationsstatus}"
						        th:value="${Anderes Fach}" 
						        name="Immatrikulationsstatus"/>
						        Ja, anderes Fach.
							</label>
							<br></br>
							<label>
								<input type="radio" 
						        th:field="*{Immatrikulationsstatus}"
						        th:value="${Nicht immatrikuliert}" 
						        name="Immatrikulationsstatus"/>
						        Nein.
							</label>
				
					</ul>
				</fieldset>
			<br></br>	
  <div>
  <fieldset>
  <ul>
  <h3>Um welche Art der Beschäftigung handelt es sich?</h3>
    <input type="radio" 
        th:field="*{Beschäftigungsart}"
        th:value="${Neueinstellung}" 
        name="einstellung"/>
        Neueinstellung (bisher keine Anstellung an der HHU)
		<br></br>
    <input type="radio" 
        th:field="*{Beschäftigungsart}"
        th:value="${Weiterbeschäftigung}" 
        name="einstellung"/>
        Weiterbeschäftigung (bestehender Vertrag bis zum 31.03.2020)
		<br></br>
    <input type="radio" 
        th:field="*{Beschäftigungsart}"
        th:value="${Wiedereinstellung}" 
        name="einstellung"/>
        Wiedereinstellung (Kein bestehender Vertrag bis zum 31.03.2020)

    </fieldset>
    </ul>

			<label>
			<ul>
			<input type="submit" value="Abschicken!" />
			</ul>
			</label>
		</form>

	</main>
</body>
</html>