<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{mopslayout :: html(name='name', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
<meta charset="utf-8">
<title>main</title>
<th:block th:fragment="headcontent">

	
</th:block>
	<script>
		function anderesFach(){
			var anderesf = document.getElementById("anderesF");
			var anderesFachRadio = document.getElementById("anderesfachradio");
            var inputfeld = document.getElementById("anderesfach");
            console.log(anderesf);
            console.log(anderesFachRadio.checked);
            console.log(inputfeld);
			if(!anderesFachRadio.checked){
			    if(inputfeld){
			        inputfeld.parentNode.removeChild(inputfeld);
				}
			}
			if(anderesFachRadio.checked){
                if(!inputfeld) {
                    var textfeld = document.createElement("input");
                    textfeld.id = "anderesfach";
                    anderesf.appendChild(textfeld);
                }
			}
		}
	</script>
</head>
<body>
	<header>
		<nav class="navigation navigation-secondary" is="mops-navigation"
			th:fragment="navigation">
			<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
		</nav>
	</header>
	<main th:fragment="bodycontent">
		
		<form>
			<h1>Bewerbungsformular</h1>
			<fieldset>
				<ul>
					<h3>Persönliche Daten:</h3>
					Vorname:
					<input type="text" th:field="*{Vorname}" maxlength="30"/>
					<br></br>
					Nachname:
					<input type="text" th:field="*{Nachname}" maxlength="30"/>
					<br></br>
					Straße:
					<input type="text" th:field="*{Straße}"/>
					<br></br>
					Postleitzahl:
					<input type="text" th:field="*{Postleitzahl}"/>
					<br></br>
					Geburtsort:
					<input type="text" th:field="*{Geburtsort}"/>
					<br></br>
					Staatsangehörigkeit:
					<input type="text" th:field="*{Staatsangehörigkeit}"/>
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Wählen Sie eins oder mehr Fächer aus.</h3>
					<select th:field="*{Fach}">
						<option th:value="'Algorithmen und Datenstrukturen'">Algorithmen und Datenstrukturen</option>
						<option th:value="'Datenbanksysteme'" >Datenbanksysteme</option>
						<option th:value="'Programmierung'" >Programmierung</option>
						<option th:value="'Softwareentwicklung'" >Softwareentwicklung</option>
					</select>
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Für welches Fach sind Sie derzeit an der HHU immatrikuliert?</h3>
					<input type="text"  th:field="*{Immatrikulationsfach}"/>
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Um welche Art der Beschäftigung handelt es sich?</h3>
					<input type="radio" th:field="*{Beschäftigungsart}" th:value="${Neueinstellung}" name="einstellung"/>
					Neueinstellung (bisher keine Anstellung an der HHU).
					<br></br>
					<input type="radio" th:field="*{Beschäftigungsart}" th:value="${Weiterbeschäftigung}" name="einstellung"/>
					Weiterbeschäftigung (bestehender Vertrag bis zum 31.03.2020).
					<br></br>
					<input type="radio" th:field="*{Beschäftigungsart}" th:value="${Wiedereinstellung}" name="einstellung"/>
					Wiedereinstellung (Kein bestehender Vertrag bis zum 31.03.2020).
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Was ist ihr bisher höchster Uni-Abschluss?</h3>
					<h4> (Schreiben Sie zusätzlich das Fach und ggf. die Universität, falls der Abschluss nicht an der HHU erreicht wurde.)</h4>
					<select th:field="*{Abschluss}">
						<option th:value="'Bachelor'">Bachelor</option>
						<option th:value="'Master'" >Master</option>
						<option th:value="'Diplom'" >Diplom</option>
						<option th:value="'Staatsexamen'" >Staatsexamen</option>
						<option th:value="'Anderes'" >Anderes</option>
						<option th:value="'Kein Uni-Abschluss'" >Kein Uni-Abschluss</option>
					</select>
					<br></br>
					Fach:
					<input type="text"  th:field="*{Fach}"/>
					<br></br>
					Uni:
					<input type="text"  value="HHU" th:field="*{Uni}"/>
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Stunden</h3>
					<h4>Alle Tutoren- und Korrektorenjobs starten am 01.10.2020. Die Dauer der Anstellung richtet sich nach dem Fach (3-6 Monate).</h4>
					<h4>Die Minijobgrenze liegt aktuell bei 9h/Woche für SHKs und bei 7h/Woche für WHBs. Sie können insgesamt nicht mehr als 17h/Woche
					als Hilfskraft an der Universität angestellt sein, das schließt auch mehrere parallele Anstellungen ein. Einstellungen erfolgen in
					der Regel für zwischen 9 und 17h/Woche, Einzelheiten können im Bewerbungsgespräch geklärt werden.</h4>
					Wie viele Stunden möchten Sie mindestens und maximal pro Woche arbeiten?
					<br></br>
					<input type="number" th:field="*{Stunden}" placeholder="1-17 Minimum" pattern="^(?:[1-9]|1[0-7])$"/>
					-
					<input type="number" th:field="*{Stunden}" placeholder="1-17 Maximum" pattern="^(?:[1-9]|1[0-7])$"/>
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Bisherige Noten</h3>
					<li>
						<h4>Bitte geben Sie Ihre bisherigen Noten zu den unten genannten Fächern an.</h4>
					</li>
					<li>
						<h4>Geben Sie zusätzlich an, bei welchem Dozenten und in welchem Semester Sie die Prüfung
						abgelegt haben (Beispiel: Conrad, SS2016 oder Bendisposto, WS2013)</h4>
					</li>
					<li>
						<h4>Die Veranstaltung Softwareentwicklung im Team beinhaltet Teile des alten Programmierpraktikums.
						Sollten Sie hierzu Fragen haben wenden Sie sich an Jens Bendisposto.</h4>
					</li>
					<br></br>
					Grundlagen der Softwareentwicklung und Programmierung / Informatik 1 / Programmierung
					<br></br>
					<select th:field="*{NoteProgrammierung}">
						<option th:value="'1,0'">1,0</option>
						<option th:value="'1,3'" >1,3</option>
						<option th:value="'1,7'" >1,7</option>
						<option th:value="'2,0'" >2,0</option>
						<option th:value="'2,3'" >2,3</option>
						<option th:value="'2,7'" >2,7</option>
						<option th:value="'3,0'" >3,0</option>
						<option th:value="'3,3'" >3,3</option>
						<option th:value="'3,7'" >3,7</option>
						<option th:value="'4,0'" >4,0</option>
						<option th:value="'Keine Prüfung abgelegt'" >Keine Prüfung abgelegt</option>
					</select>
					<br></br>
					(Grundlagen der) Algorithmen und Datenstrukturen / Informatik III
					<br></br>
					<select th:field="*{NoteAldat}">
						<option th:value="'1,0'">1,0</option>
						<option th:value="'1,3'" >1,3</option>
						<option th:value="'1,7'" >1,7</option>
						<option th:value="'2,0'" >2,0</option>
						<option th:value="'2,3'" >2,3</option>
						<option th:value="'2,7'" >2,7</option>
						<option th:value="'3,0'" >3,0</option>
						<option th:value="'3,3'" >3,3</option>
						<option th:value="'3,7'" >3,7</option>
						<option th:value="'4,0'" >4,0</option>
						<option th:value="'Keine Prüfung abgelegt'" >Keine Prüfung abgelegt</option>
					</select>
					<br></br>
					Datenbanksysteme
					<br></br>
					<select th:field="*{NoteDatenbank}">
						<option th:value="'1,0'">1,0</option>
						<option th:value="'1,3'" >1,3</option>
						<option th:value="'1,7'" >1,7</option>
						<option th:value="'2,0'" >2,0</option>
						<option th:value="'2,3'" >2,3</option>
						<option th:value="'2,7'" >2,7</option>
						<option th:value="'3,0'" >3,0</option>
						<option th:value="'3,3'" >3,3</option>
						<option th:value="'3,7'" >3,7</option>
						<option th:value="'4,0'" >4,0</option>
						<option th:value="'Keine Prüfung abgelegt'" >Keine Prüfung abgelegt</option>
					</select>
					<br></br>
					Softwareentwicklung im Team
					<br></br>
					<select th:field="*{NoteSoftwareentwicklung}">
						<option th:value="'1,0'">1,0</option>
						<option th:value="'1,3'" >1,3</option>
						<option th:value="'1,7'" >1,7</option>
						<option th:value="'2,0'" >2,0</option>
						<option th:value="'2,3'" >2,3</option>
						<option th:value="'2,7'" >2,7</option>
						<option th:value="'3,0'" >3,0</option>
						<option th:value="'3,3'" >3,3</option>
						<option th:value="'3,7'" >3,7</option>
						<option th:value="'4,0'" >4,0</option>
						<option th:value="'Keine Prüfung abgelegt'" >Keine Prüfung abgelegt</option>
					</select>
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Gewünschte Fächer</h3>
					<h4>Welche Fächer möchten Sie unterstützen?
					Wenn Sie ein Fach nicht gehört haben geben Sie ebenfalls "auf keinen Fall" an.
					Mehrfachnennungen sind ausdrücklich erwünscht! </h4>
					Programmierung
					<br></br>
					<input type="radio" th:field="*{PrioProg}" th:value="${1}" name="IDProg"/>
					Sehr gerne.
					<br></br>
					<input type="radio" th:field="*{PrioProg}" th:value="${2}" name="IDPro"/>
					Gerne, aber lieber ein anderes Fach.
					<br></br>
					<input type="radio" th:field="*{PrioProg}" th:value="${3}" name="IDPro"/>
					Nicht gerne, aber kann ich machen.
					<br></br>
					<input type="radio" th:field="*{PrioProg}" th:value="${4}" name="IDProg"/>
					Auf keinen Fall.
					<br></br>
					<br></br>
					Algorithmen und Datenstrukturen
					<br></br>
					<input type="radio" th:field="*{PrioAldat}" th:value="${1}" name="IDAldat"/>
					Sehr gerne.
					<br></br>
					<input type="radio" th:field="*{PrioAldat}" th:value="${2}" name="IDAldat"/>
					Gerne, aber lieber ein anderes Fach.
					<br></br>
					<input type="radio" th:field="*{PrioAldat}" th:value="${3}" name="IDAldat"/>
					Nicht gerne, aber kann ich machen.
					<br></br>
					<input type="radio" th:field="*{PrioAldat}" th:value="${4}" name="IDAldat"/>
					Auf keinen Fall.
					<br></br>
					<br></br>
					Datenbanksysteme (praktische übung)
					<br></br>
					<input type="radio" th:field="*{PrioDatenbank}" th:value="${1}" name="IDDatenbank"/>
					Sehr gerne.
					<br></br>
					<input type="radio" th:field="*{PrioDatenbank}" th:value="${2}" name="IDDatenbank"/>
					Gerne, aber lieber ein anderes Fach.
					<br></br>
					<input type="radio" th:field="*{PrioDatenbank}" th:value="${3}" name="IDDatenbank"/>
					Nicht gerne, aber kann ich machen.
					<br></br>
					<input type="radio" th:field="*{PrioDatenbank}" th:value="${4}" name="IDDatenbank"/>
					Auf keinen Fall.
					<br></br>
					<br></br>
					Softwareentwicklung im Team
					<br></br>
					<input type="radio" th:field="*{PrioTeam}" th:value="${1}" name="IDTeam"/>
					Sehr gerne.
					<br></br>
					<input type="radio" th:field="*{PrioTeam}" th:value="${2}" name="IDTeam"/>
					Gerne, aber lieber ein anderes Fach.
					<br></br>
					<input type="radio" th:field="*{PrioTeam}" th:value="${3}" name="IDTeam"/>
					Nicht gerne, aber kann ich machen.
					<br></br>
					<input type="radio" th:field="*{PrioTeam}" th:value="${4}" name="IDTeam"/>
					Auf keinen Fall.
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Haben Sie Einschränkungen bzgl. der von Ihnen gewünschten Tätigkeiten?</h3>
					<h4>Sollten Sie zusätzlich zu den unten genannten strikten
					Einschränkungen noch Wünsche haben, so können Sie diese im Freitext Feld angeben, ansonsten tragen sie "nein" ein.
					Hinweis: Nicht in allen Fächern ist eine Einstellung ausschließlich als Tutor oder als Korrektor möglich. </h4>
					<div class="container">
						<br>
						<h3>Mustertable</h3>
						<div class="card">
							<table class="table">
								<thead>
								<tr>
									<th scope="col">Fach</th>
									<th scope="col">sehr gerne</th>
									<th scope="col">gerne, aber <br>lieber ein <br>anderes Fach</th>
									<th scope="col">nicht gerne,<br> kann ich <br>aber machen</th>
									<th scope="col">auf keinen Fall</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th scope="row">Programierung</th>
									<td><input type="radio"
											   th:field="*{PrioProg}"
											   th:value="${1}"
											   name="IDProg"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioProg}"
											   th:value="${2}"
											   name="IDProg"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioProg}"
											   th:value="${3}"
											   name="IDProg"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioProg}"
											   th:value="${4}"
											   name="IDProg"/>
									</td>
								</tr>
								<tr>
									<th scope="row">Aldat</th>
									<td><input type="radio"
											   th:field="*{PrioAldat}"
											   th:value="${1}"
											   name="IDAldat"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioAldat}"
											   th:value="${2}"
											   name="IDAldat"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioAldat}"
											   th:value="${3}"
											   name="IDAldat"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioAldat}"
											   th:value="${4}"
											   name="IDAldat"/>
									</td>
								</tr>
								<tr>
									<th scope="row">Datenbank</th>
									<td><input type="radio"
											   th:field="*{PrioDatenbank}"
											   th:value="${1}"
											   name="IDDatenbank"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioDatenbank}"
											   th:value="${2}"
											   name="IDDatenbank"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioDatenbank}"
											   th:value="${3}"
											   name="IDDatenbank"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioDatenbank}"
											   th:value="${4}"
											   name="IDDatenbank"/>
									</td>
								</tr>
								<tr>
									<th scope="row">Software</th>
									<td><input type="radio"
											   th:field="*{PrioTeam}"
											   th:value="${1}"
											   name="IDTeam"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioTeam}"
											   th:value="${2}"
											   name="IDTeam"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioTeam}"
											   th:value="${3}"
											   name="IDTeam"/>
									</td>
									<td><input type="radio"
											   th:field="*{PrioTeam}"
											   th:value="${4}"
											   name="IDTeam"/>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Bisherige Erfahrungen, Schulung und Nachricht an uns (sichtbar)</h3>
					<h4>Beschreiben Sie hier bitte kurz Ihre bisherigen Erfahrungen als Tutor oder Korrektor in der Informatik.
					Wenn Sie über keine solchen Erfahrungen verfügen können Sie gerne ähnliche Erfahrungen (Nachhilfe, Korrektur anderer Fächer, ...) angeben.
					Wenn Sie bereits als Tutor oder Korrektor für uns gearbeitet haben reicht es, wenn Sie die Tätigkeiten der letzten beiden Semester angeben,
					Sie brauchen keine vollständige Liste zu erstellen. </h4>
					<textarea rows="8" cols="50"></textarea>
				</ul>
			</fieldset>
			<br></b
			<fieldset>
				<ul>
					<h3>Es steht noch nicht fest, ob es eine Tutorenschulung für das Wintersemester geben wird. Wenn ja, wird diese voraussichtlich kurz vor Semesterbeginn stattﬁnden. </h3>
					<input type="radio" th:field="*{PrioProg}" th:value="${3}" name="IDPro"/>
					Ich möchte an der Tutorenschulung teilnehmen.
					<br></br>
					<input type="radio" th:field="*{PrioProg}" th:value="${4}" name="IDProg"/>
					Ich habe bereits an der Tutorenschulung teilgenommen und möchte daher nicht erneut teilnehmen.
					<br></br>
					<input type="radio" th:field="*{PrioProg}" th:value="${4}" name="IDProg"/>
					Ich möchte nicht an der Tutorenschulung teilnehmen.
				</ul>
			</fieldset>
			<br></br>
			<fieldset>
				<ul>
					<h3>Was reizt Sie an der Anstellung als Tutor oder Korrektor? Wo sehen Sie Herausforderungen?</h3>
					<h4>Falls Sie uns sonst noch etwas mitteilen möchten, können Sie dies ebenfalls an dieser Stelle machen.</h4>
					<textarea rows="8" cols="50"></textarea>
				</ul>
			</fieldset>
			<ul>
				<input type="submit" value="Abschicken!" />
			</ul>
		</form>
	</main>
</body>
</html>