.radiobutton {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    margin-left: 2%;
}

.radiobutton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: -15px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radiobutton:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobutton input:checked ~ .checkmark {
    background-color: #545454;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radiobutton input:checked ~ .checkmark:after {
    display: block;
}

.radiobutton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #eeeeee;
}
