@use "../fonts";

$sizes: ("h6": fonts.$size-x-small, "h5": fonts.$size-small, "h4": fonts.$size-medium, "h3": fonts.$size-large, "h2": fonts.$size-x-large, "h1": fonts.$size-xx-large);

@each $size-string, $size-rem in $sizes {
  #{$size-string} {
    font-size: $size-rem;
    margin-bottom: $size-rem / 2;
  }
}