<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{mopslayout :: html(name='Modulübersicht', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>
  <meta charset="utf-8">
  <title>main</title>
  <th:block th:fragment="headcontent">
  </th:block>
</head>

<body>
  <header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
      <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
  </header>
  <main th:fragment="bodycontent">
    <div class="d-flex p-2">
      <h3 class="p-2 w-100">Modulübersicht</h3>
      <div class="p-2 flex-shrink-1">
        <button class="btn btn-success">Hinzufügen</button>
      </div>
    </div>
    <div class="container">

      <div class="jumbotron" th:each="modul : ${module}">
        <div class="col-sm-3" th:text="${modul.modulName}">Programmierung</div>
        <div class="col-sm-3">Conrad213</div>
        <div class="col-sm-3"><button class="btn btn-danger">Entfernen</button></div>
      </div>
      
      <!--
        <th:block th:with="noEl = 4,totalSize = ${#lists.size(module)} - 1">
          <th:block th:each=" listIndex: ${#numbers.sequence(0, totalSize, noEl)}">
              <div th:class="'row'"
                  th:with="maxValue = ${ totalSize lt (listIndex + noEl -1) ? totalSize : listIndex + noEl -1}">
                  <div class="card col-sm" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title" th:text="${module[index].modulName}">Programmierung</h5>
                      <p class="card-text" th:text="${module[index].dozent}>Conrad213</p>
                      <button class="btn btn-danger">Entfernen</button>
                    </div>
                  </div>
              </div>
          </th:block>
      </th:block>
      -->

      <!--Dummies:-->
      <div class="row">
        <div class="card col-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Programmierung</h5>
            <p class="card-text">Conrad213</p>
            <button class="btn btn-danger">Entfernen</button>
          </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Programmierung</h5>
            <p class="card-text">Conrad213</p>
            <button class="btn btn-danger">Entfernen</button>
          </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Programmierung</h5>
            <p class="card-text">Conrad213</p>
            <button class="btn btn-danger">Entfernen</button>
          </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Programmierung</h5>
            <p class="card-text">Conrad213</p>
            <button class="btn btn-danger">Entfernen</button>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>

</html>