<!DOCTYPE html>
<html lang="en" xmlns:margin-="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dozentseite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>

    <div class="container pt-3">
        <div class="col-12 shadow p-3 mb-5 bg-light rounded">
        <h1>Übersicht</h1>
        <div class="card border-dark">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Nicht verteilte Bewerbungen</th>
                    <td th:text="${anzahlOffeneBewerbungen}">0</td>
                    <td><button type="button" class="btn btn-light">Alle Anzeigen</button></td>
                </tr>
                <tr>
                    <th scope="row">Verteilte Bewerbungen</th>
                    <td th:text="${anzahlZugewieseneBewerbungen}">0</td>
                    <td><a href="/bewerbung1/verteiler/uebersicht/verteilte" class="btn btn-light">Alle Anzeigen</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>

    <div class="container pt-3">
        <div class="col-12 shadow p-3 mb-4 bg-light rounded">
            <div class="card-columns" th:each="bewerber : ${anzuzeigende}">
                <div class="card border-dark">
                    <div class="card-header font-weight-bold text-center">
                        <h5 th:text="${bewerber.personalien.vorname + ' ' + bewerber.personalien.name}">Vorname Nachname</h5>
                    </div>

                    <td th:switch="${anzeige}">

                        <div class="card-body" th:case="'0'" >
                            <h5>Bewerberpräferenzen:</h5>
                            <ul>
                                <li th:each="praeferenz : ${bewerber.praeferenzen.modulAuswahl}"
                                    th:text="${praeferenz.modul.modulName + ': ' + praeferenz.prioritaet}"></li>
                            </ul>
                            <h5>Dozentenpräferenzen:</h5>


                            <ul>
                                <li th:each="praeferenz : ${bewerber.dozentPraeferenz}"
                                    th:text="${praeferenz.dozentKennung + ': ' + praeferenz.praeferenz}"></li>
                            </ul>

                            <p class="card-text">- ProPra Prio = 3</p>
                            <p class="card-text">- Aldat Prio = 1</p>
                            <p class="card-text">- Datenbank Prio = 2</p>
                            <p class="card-text">- ProPra2 Prio = 1</p>
                            <p>
                                <button type="button" class="btn btn-light btn-block">Bewerbungsansicht</button>
                            </p>
                            <h6>Fach zuteilen:</h6>
                            <!--
                            <p>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option th:each="einModul : ${alleModule}" th:text="${einModul.modulName}" th:value="${einModul.modulName}"></option>
                                </select>
                            </p>
                            <p>
                                <button type="button" class="btn btn-light btn-block">+ Modul hinzufügen</button>
                            </p>
                            <p>
                            -->

                            <form method="POST" th:action="@{/bewerbung1/verteiler/verteile}">
                                <input type="hidden" name="bewerberKennung" th:value="${bewerber.kennung}">

                                <p>
                                    <select class="form-control" id="exampleFormControlSelect2" name="modulName">
                                        <option th:each="einModul : ${alleModule}" th:text="${einModul.modulName}" th:value="${einModul.modulName}"></option> //value einModul.moduNAme
                                    </select>
                                </p>




                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                                <div class="btn-group btn-block">
                                    <button type="button" class="btn btn-success">Modul hinzufügen</button>
                                    <button type="button" class="btn btn-primary">Akzeptieren</button>
                                </div>
                            </p>
                        </div>

                        <div class="card-body" th:case="'1'" >
                            <h7>Bewerberpräferenzen:</h7>
                            <ul>
                                <li th:each="praeferenz : ${bewerber.praeferenzen.modulAuswahl}"
                                    th:text="${praeferenz.modul.modulName + ': ' + praeferenz.prioritaet}"></li>
                            </ul>
                            <h7>Dozentenpräferenzen:</h7>
                            <p class="card-text">- ProPra Prio = 3</p>
                            <p class="card-text">- Aldat Prio = 1</p>
                            <p class="card-text">- Datenbank Prio = 2</p>
                            <p class="card-text">- ProPra2 Prio = 1</p>
                            <p>
                                <button type="button" class="btn btn-light btn-block">Bewerbungsansicht</button>
                            </p>

                            <h5>Zugewiesen an:</h5>
                            <ul>
                              <li th:each="dozent : ${bewerber.verteiltAn}" th:text="${dozent.dozentName}"></li>
                            </ul>

                        </div>

                    </td>

                </div>
            </div>
        </div>
    </div>
</body>
</html>