<html xmlns:th="http://www.thymeleaf.com">

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body>
    <form method="POST" th:action="@{/postbewerbung}">
        <div class="form-group">
            <label>Vorname
                <input type="text" class="form-control">
            </label>
            <label>Nachname
                <input type="text" class="form-control" >
            </label>
            <label>Uni Kennung
                <input type="text" class="form-control" >
            </label>
            <label>Geburtsdatum
                <input type="date" class="form-control" >
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Abschicken</button>
    </form>
</body>

</html>