<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body>
    <h3>
        Alle Bewerber
    </h3>
    <ul>
        <li th:each="bewerber : ${bewererbungen}">
            <div th:text="${bewerber.kennung}"></div>
            <form th:action="@{./verteilung}" method="POST">
                <input type="hidden" th:name="kennung" th:value="${bewerber.kennung}" />
                <button type="submit">Verteilen</button>
            </form>
        </li>

    </ul>
</body>

</html>