<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='name', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>
  <meta charset="UTF-8">
  <title>PDF-Uebersicht</title>
</head>
<body>
//TODO iwie Logik die richtige PDF angezeigt wird, schauen ob es überhaupt funktioniert
//TODO Controller fertigstellen bewerber übergeben, funktion pdffill aufrufen
//TODO mögliche Umstrukturierung Bewerber als Attribut übergeben in der Klasse oder nur anhandh
der Kennung mitHilfe von bewerberRepo findBy Bewerber ausfindig machen
//Verlinkung btn erstellen in VerteilerController

<embed th:src="${meinStringPath}"  width="100%" height="600px" />
</body>
</html>

