@use "sass:color";

$white: #FFFFFF;
$lightgray: #F4F4F4;
$gray: #D1D1D1;
$darkgray: #7B7B7B;
$black: #000000;
$red: #ED5F6D;
$green: #73C471;
$lightgreen: color.scale($green, $lightness: 50%);
$blue: #52A1EB;
$lightblue: color.scale($blue, $lightness: 50%);
$orange: #F3AC6A;
$yellow: #F8D079;

$background: $white;
$text: $black;
$inactive: $darkgray;
$active: $blue;
$hover: color.scale($blue, $lightness: 50%);
